@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    <img src="https://i.ytimg.com/vi/TSs6OsZ9Sq0/maxresdefault.jpg" alt="Image description" style="max-width:100%; height:auto;">
</div>

<div class="text-center">
    <h1 class="display-4">Select:</h1>
    <p>@Html.ActionLink("Login", "Login", "Auth")</p>
    <p>@Html.ActionLink("Register", "Register", "Auth")</p>
</div>


